<style>
.content #degrees-search {
     background:#5b6270;
	margin:0px 10px 20px 10px;
	border-radius:3px;
	clear:both;
}

.content #degrees-search a:hover {text-decoration:none !important;}

.content #degrees-search h2{
	background-color:#d9dbe0;
	border-radius:3px 3px 0 0;
	color:#2d3138;
	display:block;
	height:64px;
	overflow:hidden;
	position:relative;
	text-transform:uppercase;
	font-size:32px;
	line-height:64px;
	padding:0 16px;
	margin-top:0;
}

.content #degrees-search h2 span {
	color:#1090d5;
}

.content #degrees-search form.form-search {
	margin:0;
}

#degrees-search .form-search .input-append {position:relative;}

#degrees-search .form-search .input-append .search-query {
	border-radius:3px;
	padding:10px;
	height:48px;
	margin:4px 16px 16px 16px;
	border:none !important;
	width:calc(100% - 32px);

}


#degrees-search .form-search .input-append .btn::after {content:'';display:none;}


#gsa_search_submit_widget.btn.submit{
	color:#2D3138;
	background:#FFF;
	border-radius:3px;
	font-size:25px;
	border:0 none;
	line-height:48px;
	vertical-align:top;
	width:48px;
	position:absolute;
	top:4px;
	right:16px;
	margin:0;
	padding:0;
	height:48px;
	z-index:2;
}

#gsa_search_submit_widget.btn.submit:hover {background-color:#1090d5;color:#fff;}






    
    
</style><div id="degrees-search">
    <a href="/degrees"><h2>Find your <span>New</span></h2></a>
    <form method="get" action="http://www.newcastle.edu.au/degrees/" id="degree-search" class="form-search">
        <div class="input-append">
            <label for="degree-keywords"></label>
            <input type="text" name="q" size="32" maxlength="256" id="degree-keywords" placeholder="search our degrees and courses..." class="search-query"/>
            <button class="btn submit" type="submit" id="gsa_search_submit_widget"><span class="fa fa-search"></span></button>			
        </div>
    </form>	
</div><!--   
<div class="section-search bckgrnd-darkGray">
        <a href="/degrees"><h2><span class="cta-icon fa fa-search"></span><span class="cta-title">Find a Degree</span></h2></a>
        <form action="http://www.newcastle.edu.au/degrees/" method="get" class="form-search" id="degree-search">
            <div class="input-append">
                <label for="term" class="hide-text">Search</label>
                <input id="degree-keywords" type="text" name="q" class="search-query" placeholder="search by name or keyword" title="Find a degree"/>
                <button type="submit" class="btn submit">Go</button>
            </div>
        </form>
    </div>
    
-->
    <div id="feature-article">
      <div class="widget-inner">
        
      </div><!-- END: div.widget-inner -->
    </div>

